@font-face {
    font-family: Minecraft-Regular;
    src: url(Assets/Fonts/Minecraft-Regular.otf);
  }
@font-face {
    font-family: Minecraft-Italic;
    src: url(Assets/Fonts/Minecraft-Italic.otf);
  }
@font-face {
    font-family: Minecraft-Bold;
    src: url(Assets/Fonts/Minecraft-Bold.otf);
  }
  @font-face {
    font-family: Minecraft-BoldItalic;
    src: url(Assets/Fonts/Minecraft-BoldItalic.otf);
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.murgn-dark{
    background-color:#1A1A1D !important;
}
.murgn-grey{
    background-color:#4e4e50 !important;
}
.murgn-accent{
    background-color:#950740 !important;
}
.murgn-highlight{
    background-color:#C3073F !important;
}

.murgn-text-dark{
    color:#1A1A1D!important;
}
.murgn-text-grey{
    color:#4E4E50!important;
}
.murgn-text-accent{
    color:#950740!important;
}
.murgn-text-highlight {
    color:#C3073F !important;
}

.minecraft-regular{
    font-family: Minecraft-Regular !important;
}
.minecraft-italic{
    font-family: Minecraft-Italic !important;
}
.minecraft-bold{
    font-family: Minecraft-Bold !important;
}
.minecraft-bolditalic{
    font-family: Minecraft-BoldItalic !important;
}

.jumbotron{
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    width: 100%
}


.centertext{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}




.customtable{
    width:50%;
    margin: auto;
}

.mainpage{

    margin-top: 40px;
    margin-bottom: 40px
}

.footer{

    color: white;
    height: 200px;
    padding: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer a:link, a:visited{
    color:white;
    text-decoration:none;
}
.footer a:hover{
    color:#4e4e50;
    text-decoration:underline;
}

tr a:link
{
    color:#C3073F !important;
    text-decoration:none;
}

tr a:visited
{
    color:#C3073F !important;
    text-decoration:none;
}

tr a:hover
{
    color:#950740 !important;
    text-decoration:none;
}

nav a:hover{
    color: white !important
}

